* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flexbox;
    }


.box1 {
    background-color: #1f2937;
    padding: 40px;
    display: block;
    }

    .header {
     color: white;
     display: flex;
     padding: 10px;
     margin-bottom: 50px;
     margin-left: 200px;
     margin-right: 200px;
        }

        .header .logo {
         font-size: 24px;
         color:#f9faf8;
         flex: 1;

        }

        .header .link {
         display:flex;
         width: 500px;
         justify-content: space-evenly;
         font-size: 18px;
         color:#e5e7eb;
        
        }

        .info {
         color: white;
         display: flex;
         margin: 120px;
         justify-content: space-around;
        }
              .info1 {
                
                width: 500px;
                height: 300px;
         
                }
                 .tittleinfo1 {
                    font-size: 48px;
                    font-weight: bolder;
                    color: #f9faf8;
                 } 

                 .descriptioninfo1 {
                    font-size: 18px;
                    color:#e5e7eb;
                    margin: 20px 0 20px 0;
                 }

                 .info1 button{
                   color: #ffffff;
                   background-color: #3882f6;
                   font-size: 18px;
                   width: 120px;
                   height: 40px;
                   text-align: center;
                   border-radius: 5px;
                   
                   
                 }

              .info2 {
                width: 700px;
                height: 300px;
                background-color: gray;
                 }
                 .info2text {
                    padding: 125px;
                    text-align: center;

                  }

   
        



.tittlebox2 {
    background-color: white ;
    color: #1f2937;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    margin: 50px;
    margin-top: 200px;
                }


.box2 {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    }


    .box2 .flexobject {

        border: 5px solid #3882f6;
        width: 200px;
        height: 200px;
        border-radius: 25px;
    }

 .box22 {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
        }

    .flexitem {
        width: 200px;
        height: auto;
    }




.box3 {
    background-color: #e5e7eb;
    padding-top: 180px;
    padding-bottom: 180px;
    display: block;
        }

        .quote {
            color: #1f2937;
            font-size: 36px;
            font-style: italic;
            font-weight: lighter;
            margin-right: 320px;
            margin-left: 320px;

        }

        .person {
            font-size: 30px;
            color:#0c1016;
            font-weight: bolder;
            text-align: end;
            margin-right: 320px;
            margin-left: 320px;

        }

.box4 {
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    justify-content: center;
    padding: 150px 250px 150px 250px;
   
        }

        .itembox4 {
            background-color: #3882f6;
            border-radius: 10px;
            width: 1500px;
            height: 200px;
            display: flex;
            justify-content: space-evenly;  
            align-items: center;
                      /*margin: 50px 250px 50px 250px;*/
            }
            
            .itembox4 .tittle4 {
                color: white;
                font-weight: bold;
                font-size: 20px;

             }


            .itembox4 .info4 {
                color: white;
                font-size: 18px;
            }

            .box4 .itembox4 button{
              color: #ffffff;
              background-color: #3882f6;
              border: solid white;
              width: 120px;
              height: 40px;
              text-align: center;
              border-radius: 5px;
        }

.footer {
    background-color: #1f2937;
    color: #ffffff;
    padding: 40px;
    text-align: center;
        }